
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700;800;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

/* ---------------------------- HEADER / BARRA DE NAVEGACION ---------------------------- */

.navegacion {
    border-bottom: 0.05em grey solid;
}

.barra {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}

.link-nav {
    color:black;
    text-decoration: none;
    list-style: none;
    padding-top: 1%;
}

li {
    font-size: 1rem;
    margin: 0px 30px 0 30px;
}

#contacto {
    background-color:#f5b4b4;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0%;
    font-size:1rem;
    font-weight: 500;
    border-radius: 50px;
    border-color: white;
    padding: 1% 1.8% 1% 1.8%; 
    }

    .link-nav > #contacto {
        color: white;
    }
    
#burguer {
    display: none;
}
    


/* ----------------------------         PRESENTACION         ---------------------------- */

.hola {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding-bottom: 30px;
   padding-top: 30px;
   
}

.imagen {
    width: 45%; 
    display: flex;
}

#ilustracion {
    width: 100%;
}

#imagen-fondo-blanco {
    display: none;
}


.nombre {
    width: 40%;
    margin-left: 10px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    
}

#hola-soy {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 0.8rem;
    padding-bottom: 10px; 
    line-height: 35px;       
}

#frontend {
    font-size: 70px;
    max-width: 300px;
    font-weight: 800;
    line-height: 4rem;
    margin: 0px;
    margin-bottom: 15px;
    
}

#que-soy {
    font-size: 1rem;
    margin: 20px 0 0 0;
    color: grey;
    line-height: 25px;
}

.lo-que-hago {
    padding-top: 10%;
}

#lo-que-hago {
    color: white;
    background-color:#f5b4b4;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5rem;
    border-color: white;
    padding: 10px 18px 10px 18px;
    text-decoration: none;
}

#lo-que-hago :hover {
    color: black;
}
  
h2 {
    font-weight: 900;
    font-size: 2.8rem;
}

h3 {
    font-weight: 300;
    font-size: 1.2rem;
}

    
/* ----------------------------   SECCION MIS CONOCIMIENTOS  ---------------------------- */

.mis-conocimientos {
    background-color:#D7EBFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.mis-conocimientos > p {
    margin-top: 0px;
}

.contenedor {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 30px;
}

.tarjeta {
    width: 200px;
    height: 160px;
    margin: 10px;
    padding: 30px;
    background-color: white;
    border: solid 1px rgb(233, 232, 232);
    border-radius: 2.5% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.tarjeta > .icono {
    width: 50%;
}

.icono > img {
    width: 100%;
}



 
/* ----------------------------    SECCION FRASE DE AUTOR    ---------------------------- */

.contenedorfrase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#FFBDC6;
    padding: 30px 20px 35px 20px;
  
}

.contenedorfrase > p {
    text-align: center;
    font-size: 18px;
    color:black;
    max-width: 800px;
}





 
/* ---------------------------  SECCION PROYECTOS DE PORTFOLIO --------------------------- */


.links-proyectos {
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
    font-size: 1.1rem;    
}

.links-proyectos > p {
    border-radius: 50px;
    padding-left: 40px;
    padding-right: 40px; 
    border: solid 1px gray;
    padding: 10px 25px 10px 25px;
    margin: 5px 10px 5px 10px;
    background-color: white;
}

#todos {
    color: black;
    background-color: #D7EBFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    border-radius: 50px;
    border-color: white;
    padding: 10px 25px 10px 25px;
    margin-top: 5px;
}

.mis-proyectos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
}


.contenedor-padre {
    display: flex;
    justify-content: center;
    max-width: 966px;
}


.contenedor-proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.proyecto {
    width: 250px;
    height: 250px;
    border: 1px rgb(192, 192, 192) solid ;
    border-radius: 8px;
    padding: 20px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}


.py-img {
   width: 75%;
}

.py-img > img {
   width: 100%;  
}

#pf { 
 margin-bottom: 15px;
}

#gastos {
width: 80%;
margin-left: 15px;
}

#juego {
 width: 110%;
 margin-bottom: 15px;
padding: 0px;
}


#cine, #work {
margin-bottom: 30px;
}



/* ---------------------------              FOOTER             --------------------------- */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFBDC6;
    padding-top: 30px;
    padding-bottom: 30px;
}

.barra-footer {
    display: flex;
    flex-direction: row;
    padding: 0px;
    padding-bottom: 30px;
    margin: 0px;
}

.barra-footer > li {
    font-size: 0.9rem;
}


.redes {
    display: flex;
    flex-direction: row;
}

.div-icono {
    width: 40px;
    margin: 10px;
}

.icono {
    width: 100%;
    }

.firma {
    padding: 30px;
}


/*------------------------------------------------------------------------------------- */
/*------------------------------------ MEDIA QUERIES ---------------------------------- */
/*------------------------------------------------------------------------------------- */


@media (max-width: 1000px) {
    
.contenedor-padre {
    justify-content: center;
    max-width: 550px;
}
           
.contenedor-proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    max-width: 550px;
}

.proyecto {
    width: 200px;
    height: 200px;
}


@media (max-width: 850px) {

    
li {
    font-size: 12px;
    margin: 0px 20px 0 20px;
}

#contacto {
    font-size: 12px;
}

.hola {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
 }
 
.nombre {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-bottom: 0%;
    margin: 0 0 0 0px;
}

#hola-soy {
    font-size: 0.9rem;
    font-weight: 500;
    margin: 2px 0 0 0;
}

#frontend{
    font-size: 55px;
    font-weight: 800;
    margin: 0px;
    padding-bottom: 1%;
    line-height: 3rem; 
}

#que-soy {
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    padding-bottom: 1px;
    line-height: 1.2rem; 
}

.lo-que-hago {
    padding-top: 20px;
}

#lo-que-hago {
    color: white ;
    background-color: #f5b4b4;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 20px;
    padding: 7px;
   }

.links-proyectos {
       padding: 0px 50px 30px 50px;
}
   
.contenedorfrase > p {
    max-width: 500px;
    font-size: 12px;
}

.contenedor-padre {
    justify-content: center;
    max-width: 550px;
}
           
.contenedor-proyectos {
    justify-content: flex-start;
    align-items: center;
    max-width: 550px;
}

.proyecto {
    width: 200px;
    height: 200px;
}

}



@media (max-width: 650px) {

    
/*------------------------------ HEADER / BARRA DE NAVEGACION ------------------------- */


body {
    background-color:#f5b4b4;
    margin: 0px;
}

.barra {
    display: none;
}

.navegacion {
    padding-top: 25px;
    border-bottom: 0px;
}

#burguer {
    display: block;  
    width: 5%;
    margin-left: 87%;
}

/*---------------------------------     PRESENTACION     ------------------------------- */
   
  
.hola {
    background-color:#f5b4b4;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 10px;
    padding-top: 5px;
}

.nombre {
    height: 50%;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-bottom: 0%;
    margin: 0 0 0 0px;
}

.imagen {   
    height: 40%;
    width: 100%;
    display: flex;
    margin-top: 10%;
}

.div-ilustracion {
    width: 50px;
    display: flex;
}

#ilustracion {
    display: none;
}

#imagen-fondo-blanco {
    display: block;
    height: auto;
    width: 60%;
    margin-top: 25px;
    margin-left: 20%;
}
        
#hola-soy {
    font-size: 15px;
    margin: 2px 0 0 0;
    line-height: normal;
}

#frontend {
    font-size: 35px;
    padding-bottom: 1%;
    line-height: 2.5rem; 
}

#que-soy {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0.5rem;
    padding-bottom: 1px;
    line-height: 1.2rem; 
}

#lo-que-hago {
    color: #f5b4b4;
    background-color: white;
    font-size: 12px;
    border-radius: 20px;
    padding: 7px;
}

h2 {
    font-size: 20px;
}
    
h3 {
    font-size: 0.8rem;
}
 
    
  /*-------------------------------     MIS CONOCIMIENTOS    -------------------------------- */


.mis-conocimientos {
    background-color:white;
    padding-top: 35px;
    padding-bottom: 75px;
        }

.mis-conocimientos > p {
    max-width: 60%;
    text-align: center;
        }
       
.contenedor {
    width: 80%;
    height: 50%;
           
        }

        
.tarjeta {
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    margin: 2%;
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: baseline;        
    }
        
        
.tarjeta > img {
    width: 50px;
    height: auto;
    }
        
.tarjeta > p {
    text-align: center;
    font-size: 75%;
        }
        
        
/*----------------------------     SECCION FRASE DE AUTOR     ----------------------------- */

.contenedorfrase {
   padding: 35px 10px 40px 10px;
}

.contenedorfrase > p {
    text-align: center;
    max-width: 70%;
    font-size: 70%;
    color:black;
}

.contenedorfrase > .comillas {
    width: 40px;
}

  /*------------------------------   SECCION PROYECTOS DE PORTFOLIO   ----------------------------- */


.links-proyectos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    padding-bottom: 40px;
    font-size: 0.9rem;
}

.links-proyectos > p {
    font-size: 14px;
    margin: 5px 5px 0px 0px ;
}

#todos {   
    font-size: 14px;
}

.mis-proyectos {
    background-color: white;
    padding-bottom: 50px;
}

.contenedor-padre {
    max-width: 100%;
}

.contenedor-proyectos {    
    align-items: center;
    padding-left: 0px;
    max-width: 370px;
} 

.proyecto {
    width: 150px;
    height: 150px;
    padding: 3%;
    margin: 1%;
}

.proyecto > p {
    margin: 5px;
    text-align: center;
}

.py-img {
    width: 70%;
 }
 
 .py-img > img {
    width: 100%;  
 }

 #juego {
    margin-bottom: 0px;
 }
 
 #cine, #work {
    margin-bottom: 10px;
    }


/*------------------------------          FOOTER         ----------------------------- */

.footer {
    padding-top: 40px;
    padding-bottom: 30px;
}

.link-nav {
    display: none;
}

.barra-footer {
    display: none;
}

.redes {
    max-width: 75%;
}

.icono {
    width: 90%;
}

.firma {
    padding: 30px 0 30px 0;
    max-width: 75%;
    text-align: center;
}

}

@media (max-width: 450px) {
    
.contenedor-padre {
    justify-content: center;
    max-width: 200px;
    }

.contenedor-proyectos {    
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    max-width: 370px;
    } 
}
